
body{
            text-align: center;
            background:url(newback.svg) no-repeat;
            background-size: cover;
            width: 100%;
            height:100%;
            padding: 1vw;
            font-family:"Equinox" ;
            position: relative; 
 }
 .myform{
         padding: 2vw;
         /* margin-top: 1.5vw; */
         box-sizing: border-box;
         /* border-radius: 0.5vw; */
         width: 60vw;
         background-size: contain;
         background-color: #FBFCFE;
         border-top: o.5vw solid #bcbbbb;
         /* box-shadow: 0 0 20px; */
 }
 .btn-lg{
         letter-spacing: 0.5vw;
         font-size: 100%;
 }
 .hea{  
         background: url("14755 [Converted]-01(1).svg");
         background-size: cover;
         box-sizing: border-box;
         width: 60vw;
         font-size: 350%;
         margin-bottom: 0;
         justify-content: center;  
         display: flex;
         width: 100%;
         height: 100%; 
         
          
 }
 .logo{
         height: 50px;
         width: 50px;
         left: 0;
 }

 .logo img{
         width: 40px;
         height: 40px;
 }
 .form-control{
         border:none;
         border-bottom: 0.1vw solid #bcbbbb;
         background-color: #FBFCFE;
 }
 .main-con{
        /* background:rgb( 234, 159, 68 ); */
         width: 60vw;
         padding: 0%;
         margin-bottom: 4vw;
         margin-top: 6vw;
         /* padding-bottom: 5vw; */
         box-shadow: 0 0 20px;
         border-radius: 0.5vw;
         background: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15));

 }
 .headi{
         display: flex;
         line-height: 2;
 }
 @media only screen and (max-width: 768px) {
        /* For mobile phones: */
        [class*="hea"] {
                font-size: 1.5em;
                letter-spacing: 1vw;
                box-sizing: border-box;
                width: 80vw;
                justify-content: center;  
                display: flex;
                height: 100%; 
        }
        [class*="logo"]{
                height: 50px;
                width: 50px;
        }
        [class*="headi"]{
                font-size: 1.5em;
        }
        .logo img {
                width: 40px;
                height: 40px;
        }
        .le {
                font-size: 1.3vw;
        }
        .main-con{
                width: 80vw;
        }
        .myform{
                width: 80vw;
        }
 }      